@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

:root {
  --font-poppins: "Poppins", sans-serif;
}

body {
  font-family: var(--font-poppins);
  overflow-x: hidden;
}

.relative {
  position: relative;
}

.z-10 {
  z-index: 10;
}

.bg-white {
  background-color: white;
}

